.cdk-overlay-container .mat-menu-panel.menu {
  max-width: 40%;
}

.preview{
  border: 1px solid #ccc!important;
  border-radius: 16px;
  padding: 0.01em 16px;
  box-sizing: inherit;
}

.horizontal{
  display: block;
  width: 100%;
  justify-content: center;
}

mat-card{
  margin: 4px;
  padding: 5px;
}

.mat-card-subtitle {
  display: inline-flex;
}

.preview img {
  max-width: 100%;
  max-height: 100%;
  margin: 2px;
}

::ng-deep .mat-menu-panel {
  max-width: 300px!important;
  min-width: 180px!important;
}

.request-btn{
  margin: 5px;
  width: -webkit-fill-available;
}

/*notification badge*/
.badge1 {
  position:relative;
}
.badge1[data-badge]:after {
  content:attr(data-badge);
  position:absolute;
  top:-10px;
  right:-10px;
  font-size:.7em;
  background:green;
  color:white;
  width:18px;height:18px;
  text-align:center;
  line-height:18px;
  border-radius:50%;
  box-shadow:0 0 1px #333;
}

.btn-amount-cart {
  width: 40%;
  border: 1px solid #e1e1e1;
  border-radius: 2rem;
  padding: 0 .25rem;
  margin: 0 auto;
  display: flex;
  vertical-align: middle;
  background-color: #f7f7f7;
}

.btn1,.btn2{
  border: none;
  outline: none;
  vertical-align: top;
  height: 2.2rem;
  width: 2.2rem;
  font-weight: 500;
  font-size: 18px;
  text-decoration: none;
  margin: 0rem;
}
button:focus {
  outline: 0;
}
.btn-default {
  background-color: transparent;
}

.amount {
  width: 40%;
  border: none;
  outline: none;
  background-color: transparent;
}

mat-card-subtitle span{
  line-height: 35px;
}
