.item-right {
/ / float: right;
  padding: 30px 0 0 0;
  width: 60%;
}

button{
  margin-top:14px;
}

.btn_amount_contendor{
  display: inline;
}

.btn-amount-cart {
  border: 1px solid #e1e1e1;
  border-radius: 2rem;
  padding: 0 .25rem;
  margin: 0 auto;
  display: flex;
  vertical-align: middle;
  background-color: #f7f7f7;
  width: 61%;
}

p {
  margin: -12px 0 10px;
}

.amount {
  width: 40%;
  border: none;
  outline: none;
  background-color: transparent;
}

.btn-default {
  background-color: transparent;
}

.btn1,.btn2{
  border: none;
  outline: none;
  vertical-align: top;
  height: 2.2rem;
  width: 2.2rem;
  font-weight: 500;
  font-size: 18px;
  text-decoration: none;
  margin: 0rem;
}
button:focus {
  outline: 0;
}

mat-card {
  position: relative;
  margin: 10px;
  margin-right: 0px;

  width: 250px;
  float: left;
  overflow: auto;
}
