@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
/* You can add global styles to this file, and also import other style files */

html, body{
  height: 95%;
}

.full-height{
  height: 100%;
}
a{
  text-decoration:none
}

.mat-icon-button{
  min-width: auto;
}
.mat-button-focus-overlay {
  background-color:transparent;
}
.mat-button-toggle-group {
  border: solid 1px #d1d8de;
}

.upload-design {
  margin: 5px;
}

.preview {
  width: 50%;
}

.toolbar-content {
  display: flex;
  justify-content: space-between;
}

.toolbar-content div{
  display: flex;
  align-items: center;
}

.toolbar-content button {
  margin-right: 16px;
}

button:focus,.btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0rem rgba(0,0,0,0);
}
